@use "../../foundation/f-variables" as v;

.p-card--works{
    width: 520px;
    height:auto;
    padding:10px;
    background-color: v.$color-paleblue;

    img{
        object-fit: cover;
    }
    .c-card--article{
        margin-top: 20px;
    }
    
}