@use "../../foundation/f-variables" as v;
/*sp,tab
.p-gnav-ul{
    display:block;
}*/

/*ハンバーガーボタン*/

/*is-active*/



/*PC*/
@include v.pc{
    .p-gnav-ul{
        display: flex;
        height:70px;
        
    
        .c-gnav-li{
            height:70px;
            font-size: 2rem;
            display: flex;
            align-items: center;
        }
    }
}
