@use "../../foundation/f-variables" as v;
/*sp,tab*/
.p-gnav-ul{
    display:none;
    position: absolute;
    top:70px;
}
/*is-active*/
.p-gnav-ul.is-active{
    display: block;
    width: 100vw;
    line-height: 2;
    padding:0 10px;
    right:0;
    background-color: v.$color-white;

}



/*PC*/
@include v.pc{
    .p-gnav-ul{
        display: flex;
        height:70px;
        position:relative;
        top:0;

        
    
        .c-gnav-li{
            height:70px;
            font-size: 2rem;
            display: flex;
            align-items: center;
        }
    }
}
