@use "../../foundation/f-variables" as v;


.p-header{
    display: flex;
    justify-content: center;
    height:70px;
    background-color: v.$color-white;

    .p-header-title{
        display: flex;
        align-items: center;
    }
    
    .c-icon{
        padding:10px;
        width: 70px;
        height:70px;
    }
    
    
}



