@use "../../foundation/f-variables" as v;

.p-header{
    display: flex;
    justify-content: center;
    height:70px;
    background-color: v.$color-paleblue;
    
    .c-icon{
        padding:10px;
        width: 70px;
        height:70px;
    }
    
    
}