@use "../../foundation/f-variables" as v;

.p-site-title{
    width: 300px;
    height: 300px;
    background-color:v.$color-white;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .c-logo{
        opacity: 1;
        font-size: 5rem;
        padding:15%;
    }
}