/*色の一覧表（コピー＆ペーストでご利用ください）
テーマカラー#24D4F5
全体の背景#FFFFFF
メニュー#3EAFC4
ロゴ#FFA500
本文見出し1#28C6E4
本文見出し2#81E8FB
サイドバー見出し#BBF3FD
サイドバー背景#E8FBFE*/

$color-white:#ffffff;
$color-lightblue:#24D4F5;
$color-darkblue:#3EAFC4;
$color-blue:#28C6E4;
$color-paleblue:#E8FBFE;
$colo-orange:#FFA500;
$color-brown:#462101;

/*mixin*/
//breakPoint
$PC:1025px;
$tab:480px;

@mixin pc{
    @media screen and(min-width:($PC)){
        @content;
    }
}

@mixin tab{
    @media screen and(min-width:($tab)){
        @content;
    }
}
